$ms-size: 12px;
$s-size: 14px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$xxl-size: 72px;
$br-size: 4px;
$desktop-size: 768px;
$tablet-size: 768px;
$mobile-size: 576px;

// COLORS

$text-color: #424246;
$black: #101627;

$border: 0.2px solid rgb(202, 202, 202);
